# Node dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env
client/.env

# Logs
logs
*.log

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db
